html, body, table {
    font-family: Verdana;
    font-size: 13px;
    margin: 0;
    width: auto;
    min-width: 800px;
}
a,a:hover,a:link,a:active{
	text-decoration: none;
}
textarea, input, checkbox {
	border: 1px solid gray;
	-moz-border-radius:3px;
    -webkit-border-radius:3px;
    -o-border-radius:3px;
}
#head {
	width: 100%;
	height: 20px;
	background-color: #efefef;
	margin-bottom: 10px;
	border-bottom: 1px solid gray;
}
#tasks {
	position: absolute;
  	top: 25px;
  	left: 5px;
	width: 240px;
}
#task {
	color: black;
	margin-bottom: 2px;
	padding: 3px;
}
#details {
	width: auto;
	min-width: 350px;
  	margin: 21px 243px 0px 252px;
}
#classes {
	width: 230px;
	position: absolute;
  	top: 25px;
  	right: 5px;
}
#class {
	margin-bottom: 5px;
}
#book{
	margin-bottom: 2px;
	padding-left: 2px;
	border-bottom: 1px solid gray;
}
#classhead {
	padding: 3px;
	color: black;
}
#classbody {
	padding: 3px;
}
#icon {
	width: 20px;
	border: 0;
	float: right; 
}
#detailhead {
	padding-left: 7px;
	font-weight: bold;
	color: black;
}
#detailbody {
	background-color: #efefef;
	padding: 5px;
	min-height: 200px;
	border-bottom: 1px solid gray;
}
#colors {
	width: 20px;
	height: 20px;
	border: 1px solid black;
	margin: 1px;
	float: left;
}
#colorpick {
	width: 20px;
	height: 20px;
	border: 1px solid black;
}
#colorpicker {
	visibility:collapse;
}
#input {
	border: 1px solid blie;
}
#logo {
	width: 350px;
}
#demopic{
	width: 100px;
	border: 1px solid gray;
}
#login {
	background: -moz-linear-gradient(top,  #d6e7fb,  #fff);
	margin: 100px auto;
	padding: 10px;
	text-align: center;
	width: 400px;
	border: 1px solid gray;
	border-radius: 7px; /* Opera 10.5, IE 9 */
    -moz-border-radius: 7px; /* FF1+ */
  	-webkit-border-radius: 7px; /* Saf3+, Chrome */
}