<div id="colors" style="background-color: #ff4044" onclick="setColor('#ff4044')"></div>
<div id="colors" style="background-color: #ff4c00" onclick="setColor('#ff4c00')"></div>
<div id="colors" style="background-color: #ff9400" onclick="setColor('#ff9400')"></div>
<div id="colors" style="background-color: #ff9200" onclick="setColor('#ff9200')"></div>
<div id="colors" style="background-color: #ffd200" onclick="setColor('#ffd200')"></div>
<div id="colors" style="background-color: #ffb540" onclick="setColor('#ffb540')"></div>
<div id="colors" style="background-color: #b1f100" onclick="setColor('#b1f100')"></div>
<div id="colors" style="background-color: #4dde00" onclick="setColor('#4dde00')"></div>
<div id="colors" style="background-color: #00a67c" onclick="setColor('#00a67c')"></div>
<div id="colors" style="background-color: #0b61a4" onclick="setColor('#0b61a4')"></div>
<div id="colors" style="background-color: #62e200" onclick="setColor('#62e200')"></div>
<div id="colors" style="background-color: #007143" onclick="setColor('#007143')"></div>
<div id="colors" style="background-color: #02006b" onclick="setColor('#02006b')"></div>
<div id="colors" style="background-color: #8ebb00" onclick="setColor('#8ebb00')"></div>
<div id="colors" style="background-color: #a66f00" onclick="setColor('#a66f00')"></div>
<div id="colors" style="background-color: #3914af" onclick="setColor('#3914af')"></div>
<div id="colors" style="background-color: #790baa" onclick="setColor('#790baa')"></div>
<div id="colors" style="background-color: #bf7730" onclick="setColor('#bf7730')"></div>
<div id="colors" style="background-color: #bf7730" onclick="setColor('#bf7730')"></div>
<div id="colors" style="background-color: #1f7d3c" onclick="setColor('#1f7d3c')"></div>