{% load i18n %}
<html>
<head>
    <title>CloudyTasks</title>
	<link type="text/css" rel="stylesheet" href="/static/style.css" />
</head>
<body>
	<div id="login">
		<img id="logo" src="images/logo.png" border="0"/>
  		<h1>{% trans "Log in with your OpenID" %}</h1>
  		{% for provider in providers %}
  			<a href="{{ provider.0 }}"><img src="images/providers/{{ provider.1 }}.png" border="0" /></a>
		{% endfor %}
		<h2>Screenshots</h2>
		<a href="images/demo1.png" target="_blank"><img id="demopic" src="images/demo1.png" /></a>
		<a href="images/demo2.png" target="_blank"><img id="demopic" src="images/demo2.png" /></a>
		<a href="images/demo3.png" target="_blank"><img id="demopic" src="images/demo3.png" /></a>

		{% trans "CloudyTasks is an open source online study organizer running on the Google App Engine. You can checkout the code from GitHub and run your own instance" %}.
		<br>
		<a href="https://github.com/dailygeek/CloudyTasks" target="_blank"><img id="logolinks" src="https://github.com/images/modules/header/logov3-hover.png"></a>
		<a href="https://code.google.com/intl/de-DE/appengine/" target="_blank"><img id="logolinks" src="https://www.google.com/accounts/ah/appengine.jpg" border="0"></a>
		<a href="http://www.dailygeek.de" target="_blank"><img id="logolinks" src="images/dailygeek.png"></a>
		</p>
	</div>
</body>
</html>